.wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  transition: background-color 1s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.wrapper * {
  animation: animateIn 1s;
}

@keyframes animateIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
