* {
  box-sizing: border-box;
}

:root {
  --bg-color: rgb(235, 235, 235);
  --text-color: #121212;
  --text-lighter-color: rgb(86, 83, 83);
  --secondary-color: orange;
  --focus-color: rgb(198, 96, 96);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-theme {
  --bg-color: #121212;
  --text-color: rgb(245, 245, 245);
  --text-lighter-color: rgb(225, 225, 225);
  --secondary-color: orange;
  --focus-color: rgb(192, 100, 100);
}

#root {
  height: 100%;
  width: 100%;
}

a {
  font-weight: 500;
  color: var(--text-lighter-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--text-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-lighter-color);
  background-color: var(--bg-color);
  transition: color 1s, background-color 1s;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-8 {
  gap: 8px;
}
.gap-16 {
  gap: 16px;
}

.cursor {
  cursor: pointer;
}

.cursor:hover {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
