.wrapper {
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.wrapper div {
  width: 14px;
  height: 14px;
  background-color: var(--focus-color);
}

.wrapper div:nth-of-type(1) {
  animation: load 0.8s infinite ease;
}

.wrapper div:nth-of-type(2) {
  animation: load 0.8s infinite 0.2s ease;
}
.wrapper div:nth-of-type(3) {
  animation: load 0.8s infinite 0.4s ease;
}

.done.wrapper div:nth-of-type(1) {
  animation: doneAnim1 0.8s forwards ease;
}
.done div:nth-of-type(2) {
  animation: doneAnim2 0.8s forwards ease;
}
.done div:nth-of-type(3) {
  animation: doneAnim3 0.8s forwards ease;
}

@keyframes load {
  0%,
  90% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-16px);
  }
}

@keyframes doneAnim1 {
  0% {
  }
  20% {
    background-color: var(--success-color);
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
    background-color: var(--success-color);
  }
}

@keyframes doneAnim2 {
  0% {
  }
  40% {
    background-color: var(--success-color);
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
    background-color: var(--success-color);
  }
}
@keyframes doneAnim3 {
  0% {
  }
  20% {
    background-color: var(--success-color);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
    background-color: var(--success-color);
  }
}
