.wrapper {
  width: 100%;
  padding: 14px;
  display: flex;
  justify-content: center;
  background-color: var(--bg-secondary-color);
  transition: background-color 1s;
}

.navbar {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

h1 {
  font-size: 1.6rem;
}
