.wrapper {
  position: relative;
}

.bubble {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: var(--focus-color);
  min-width: 17px;
  min-height: 17px;
  font-size: 0.9rem;
  aspect-ratio: 1/1;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  color: var(--text-color);
}
