.wrapper {
  position: relative;
}

.bubble {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: var(--focus-color);
  width: 17px;
  height: 17px;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  color: var(--text-color);
}
