.loadbar {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--focus-color);
  border-radius: 8px;
  animation: load 2s forwards;
  transform-origin: left;
}

@keyframes load {
  0% {
    transform: scaleX(0);
  }
  20% {
    transform: scaleX(0.75);
  }
  100% {
    transform: scaleX(0.9);
  }
}
